<nav class="navbar navbar-light bg-light mb-4">
  <div class="container justify-content-start">
    <a class="navbar-brand" href="#">EMP - Login</a>
    <!-- <form class="form-inline ml-1 mr-auto">
      <select class="custom-select">
        <option (click)="auth.acceptLanguage('en-US')" selected>en-US</option>
        <option (click)="console.log('ahihi')">de-DE</option>
      </select>
    </form> -->
    <div ngbDropdown class="d-inline-block ml-1 mr-auto">
      <button class="btn btn-outline-secondary" id="dropdown" ngbDropdownToggle> Language: {{auth.acceptLanguage}} </button>
      <div ngbDropdownMenu aria-labelledby="dropdown">
        <button ngbDropdownItem (click)="auth.setAcceptLanguage('en-US')">en-US</button>
        <button ngbDropdownItem (click)="auth.setAcceptLanguage('de-DE')">de-DE</button>
      </div>
    </div>
    <form class="form-inline">
      <button class="btn btn-primary mx-1" routerLink="/">
        Home
      </button>

      <button class="btn btn-primary mx-1" *ngIf="auth.isAuthenticated()" routerLink="/profile">
        Profile
      </button>

      <button class="btn btn-primary mx-1" *ngIf="auth.isAuthenticated()" (click)="auth.renewTokens()">
        Renew
      </button>

      <button id="qsLoginBtn" class="btn btn-outline-success mx-1" *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
        Log In
      </button>

      <button id="qsLogoutBtn" class="btn btn-outline-secondary mx-1" *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
        Log Out
      </button>
    </form>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>

<div class="overlay" *ngIf="shouldDisplayOverlay">
  <div>
    <img src="assets/loading.svg" alt="loading">
    <h4>Checking for SSO session...</h4>
  </div>
</div>